extends: default

rules:
  line-length: disable
  comments-indentation: disable
  document-start: disable

ignore:
  - kubernetes/monitoring/alertmanager-config.yaml
  - kubernetes/monitoring/prometheus-config.yaml
  - helm-charts/**/templates/*.yaml
  - helm-charts/**/templates/*.yml 